#content{
    max-width: 80%;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-bottom: 40px;   
}

a{
    color: black;
    background-color: rgb(180, 180, 180);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.3em;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    
}

a:hover{
    color:white;
    background-color:rgb(122, 122, 122) ;
}

#links{
    text-align: center;
}
