 /*p, li, img, h2, div{
    border: 2px solid red;
}*/

body {
    background-color: rgb(165, 209, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
}

#container{
    max-width: 1200px;
    background-color: white;
    margin: 0 auto
}
h1, h2, h3{
    font-family: Verdana, Geneva, tahoma, sans-sarif;
    text-align: center;
}

.main_img{
    width: 90%;
}

.social {
    text-align: center;
}

#img-container {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
